@{
    ViewBag.Title = "Admin Home Page";
}

<div class="jumbotron">
    <div class="container">
        <h1>Pay With E-wallet</h1>
        <h1>And Be safe</h1>
        <p class="lead">Whether you're shopping in India or around the world, a E-wallet account lets you check out safer, faster and easier. That's why we're accepted in over 200 markets and trusted by over 250 million customers.</p>
        <p><a href="/Account/Register" class="btn btn-primary btn-lg">Sign up for Free</a></p>
        <p>Looking for an E-wallet for your Organization</p><br>
        <p><a href="#buss">GO to Organization Solution</a></p>
    </div>
</div>
<br>
<br>
<div class="row">
    <div class="col-lg-4">
        <img src="~/Content/Images/pay.jpg" width="120" height="120" />
        <h3><b>Manage Transactions</b> </h3>
        <p><a class="btn btn-default" href="/transactions">Show Transactions &raquo;</a></p>
    </div>
    <div class="col-lg-4">
        <img src="~/Content/Images/offer.png" width="120" height="120" />
        <h3><b>Manage Schemes</b> </h3>
        <p><a class="btn btn-default" href="/schemes">Schemes &raquo;</a></p>
    </div>
    <div class="col-lg-4">
        <img src="~/Content/Images/wallet.jpg" width="120" height="120" />
        <h3><b>Wallets</b> </h3>
        <p><a class="btn btn-default" href="/wallets"> Wallets &raquo;</a></p>
    </div>
    
</div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
