@{
    ViewBag.Title = "User Home Page";
}

<div class="jumbotron">
    <div class="container">
        <h1>Pay With E-wallet</h1>
        <h1>And Be safe</h1>
        <p class="lead">Whether you're shopping in India or around the world, a E-wallet account lets you check out safer, faster and easier. That's why we're accepted in over 200 markets and trusted by over 250 million customers.</p>
        <p><a href="/Account/Register" class="btn btn-primary btn-lg">Sign up for Free</a></p>
        <p>Looking for an E-wallet for your Organization</p><br>
        <p><a href="#buss">GO to Organization Solution</a></p>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
        <p><a class="btn btn-default" href="/User/Pay">Pay Money &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="/User/Load">Add Money to Wallet &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="/User/Link"> Link Bank account &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="/User/Qrcodegen"> Generate Qr code &raquo;</a></p>
    </div>
</div>

<div class="row">
    <center> <h2>Enjoy Amazing offers when you shop with E-wallet </h2></center>
    <br><br>
    <div class="col-md-4">
        <img src="~/Content/Images/myntra.png" height="200" width="300" />

    </div>

    <div class="col-md-4">
        <img src="~/Content/Images/abhibus.png" height="200" width="300" />

    </div>

    <div class="col-md-4">
        <img src="~/Content/Images/goibibo.png" height="200" width="300" />

    </div>

    <div class="col-md-4">
        <img src="~/Content/Images/bookmyshow.png" height="200" width="300" />

    </div>

    <div class="col-md-4">
        <img src="~/Content/Images/daily-ninja.png" height="200" width="300" />

    </div>

    <div class="col-md-4">
        <img src="~/Content/Images/merchant-domino.png" height="200" width="300" />

    </div>

    <div class="col-md-4">
        <img src="~/Content/Images/the-souled-store.png" height="200" width="300" />

    </div>

    <div class="col-md-4">
        <img src="~/Content/Images/bewakoof-logo.png" height="200" width="300" />

    </div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
