@{
    ViewBag.Title = "Home Page";
}

    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1>Pay With E-wallet</h1>
            <h1>And Be safe</h1>
            <p class="lead">Whether you're shopping in India or around the world, a E-wallet account lets you check out safer, faster and easier. That's why we're accepted in over 200 markets and trusted by over 250 million customers.</p>
            <p><a href="/Account/Register" class="btn btn-primary btn-lg">Sign up for Free</a></p>
            <p>Looking for an E-wallet for your Organization</p><br>
            <p><a href="#buss">GO to Organization Solution</a></p>
        </div> 
    </div>
    <div class="row">
        <div class="col-lg-4">
            <img src="~/Content/Images/protection.svg" width="120" height="120" />
            <h3><b>Buyer Protections</b> </h3>
            <p>
                Item not as described? You have our first-of-its-kind 180-day refund window to get a full refund on your purchase.
            </p>
        </div>
        <div class="col-lg-4">
            <img src="~/Content/Images/one-account.svg" width="120" height="120" />
            <h3><b> one Account for Everywhere</b> </h3>
            <p>
                Shop locally and globally with just one PayPal account.
            </p>
        </div>
        <div class="col-lg-4">
            <img src="~/Content/Images/SecureTech-pink.svg" width="120" height="120" />
            <h3><b>Worry-free Shopping </b></h3>
            <p>
                Shop with ease and confidence. Your financial details are never shared, not even with the seller.
            </p>
        </div>
    </div>

<br>
<br>

<div class="row" id="buss">
    <div class="col-lg-4">
        <img src="~/Content/Images/24.jpg" width="120" height="120" />
        <h3><b>24/7 Fraud Protections </b></h3>
        <p>
            Safeguard your business from fraudulent transactions with real-time intelligence and adaptive machine learning.
        </p>
    </div>
    <div class="col-lg-4">
        <img src="~/Content/Images/global.jpg" width="120" height="120" />
        <h3><b>Gloabal Expertise </b></h3>
        <p>
            Customer support with deep expertise are on hand to help and provide real solutions for optimising your business.
        </p>
    </div>
    <div class="col-lg-4">
        <img src="~/Content/Images/easy.jpg" width="120" height="120" />
        <h3><b>Easy to use </b></h3>
        <p>
            Easy and Simple Gui for user
        </p>
    </div>
</div>

<br>
<br>

<div class="row">
    <center> <h2>Enjoy Amazing offers when you shop with E-wallet </h2></center>
    <br><br>
    <div class="col-md-4">
        <img src="~/Content/Images/myntra.png" height="200" width="300" />

    </div>

    <div class="col-md-4">
        <img src="~/Content/Images/abhibus.png" height="200" width="300" />

    </div>

    <div class="col-md-4">
        <img src="~/Content/Images/goibibo.png" height="200" width="300" />

    </div>

    <div class="col-md-4">
        <img src="~/Content/Images/bookmyshow.png" height="200" width="300" />

    </div>

    <div class="col-md-4">
        <img src="~/Content/Images/daily-ninja.png" height="200" width="300" />

    </div>

    <div class="col-md-4">
        <img src="~/Content/Images/merchant-domino.png" height="200" width="300" />

    </div>

    <div class="col-md-4">
        <img src="~/Content/Images/the-souled-store.png" height="200" width="300" />

    </div>

    <div class="col-md-4">
        <img src="~/Content/Images/bewakoof-logo.png" height="200" width="300" />

    </div>
</div>

